@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;    
    color: #fff;
    box-sizing: border-box;
}

html{
    font-size: 2vw;
}

div.hamburger-menu {
    background-color: #24252a;
} 

footer {
    background-color: #18191b;
}

#menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    left: 0 !important;
  }
  .menu__btn {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }

section{
    background-color: #24252A;
    padding: 14vh 5vh 5vh 5vh;
    overflow: auto;
}

section#aboutUs{
    padding: 0;
}

.imagemHome{
    text-align: center;
    margin-top: 13vh;
}

h1{
    color: #fff;
}

img{
    width: 90%;
    margin-left: 5%;
    vertical-align: middle;
    border-radius: 15px;
}

#inicial
{
    width: 100%;
}


#paiHome{
    margin-top: 2vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.textHome{
    width: 80%;
    font-size: 1.5rem;
    margin-left: 10%;
    text-align: center;
   margin-top: 4vh;
   text-align: justify;
}

.textHome h2{
    font-size: 3rem;
    margin-bottom: 1vh;
    text-align: center;
}

#paiWork{
    margin-top: 2vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.textWork{
    width: 80%;
    font-size: 1.5rem;
    margin-left: 10%;
    text-align: center;
    margin-top: 4vh;
    margin-bottom: 5vh;
    text-align: justify;
}

#work h2{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1vh;
}

#ourTeam h2{
    font-size: 3rem;
    text-align: center;
}

#paiTeam{
    margin-top: 2vh;
    width: 100%;
    overflow-x: hidden;
}

.conteudo{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
}

.conteudo img{
    border-radius: 100%;
    width: 75%;
}

.imagemTeam{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textTeam{
    font-size: 1.5rem;
    width: 200%;
    margin-left: 8px;
}

.textTeam h3{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 0.5vh;
}
#courses h2{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1vh;
}

.paiCourses{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

#courses1{
    width: 50%;
    padding: 15px;
    margin-bottom: 2vh;
}

#textCourses{
    font-size: 2rem;
    padding: 9px;
    text-align: center;
}

button{
    width: 100%;
    color: #fff;
    background-color: #696969;
    border: #000;
    border-radius: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    height: 30px;
    cursor: pointer;
    margin: 0 auto;
    transition: all .5s ease-in-out;
}

button:hover{
    transform: scale(1.2);
}

footer{
    width: 100%;
    font-size: 0.9rem;
    padding: 13px;
    text-align: center;
}

@media (min-width:800px)
{
    section{
        padding: 10vh 2vw 15vh 2vw;
        overflow: auto;
   }

    .imagemHome{
        text-align: center;
        margin-top: 8vh;
    }

    img{
        width: 70%;
        margin-left: 5%;
        margin-right: 5%;
        border-radius: 15px;
    }

    .textHome{
        width: 80%;
        font-size: 0.9rem;
        margin-left: 10%;
        text-align: center;
       margin-top: 4vh;
       text-align: justify;
    }
    
    .textHome h2{
        font-size: 2rem;
        margin-bottom: 1vh;
        text-align: center;
    }

    .conteudo{
        width: 100%;
        display: flex;
        flex-direction: row;
        padding-bottom: 10px;
    }
    
    .conteudo img{
        border-radius: 100%;
        width: 75%;
    }
    
    .imagemTeam{
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .textTeam{
        font-size: 0.9rem;
        width: 60%;
        margin-left: 40px;
    }
    
    #ourTeam h2{
        text-align: center;
        font-size: 2rem;
        margin-bottom: 3vh;
    }

    .imagemWork{
        width: 100%;
        text-align: center;
    }

    .textWork{
    font-size: 0.9rem;
    margin-left: 10%;
    margin-top: 4vh;
    margin-bottom: 5vh;
    text-align: justify;
    }
    
    #courses1{
        width: 25%;
        padding: 3vh;
        margin-bottom: 2vh;
    }
    
    #textCourses{
        font-size: 2rem;
        padding: 3vh;
        text-align: center;
    }

    #imagemCourses{
        width: 100%;
        text-align: center;
    }

    button{
        font-size: 0.9rem;
        height: 8vh;
    }

    button:hover{
        background-color: #fff;
        color: #24252A;
    }
}

